{% extends 'base.html' %}

{% block content %}
  <h1>Doctor Dashboard</h1>
  <!-- Doctor-specific content -->
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:setup_appointment' %}'">Set up appointment for patients</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:edit_record' %}'">Edit patient records</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:view_record' %}'">View patient records</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:prescribe' %}'">Make a prescription</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:estimate_prices' %}'">Estimate drug prices</button>
{% endblock %}