{% extends 'base.html' %}

{% block content %}
  <h1>Manager Dashboard</h1>
  <!-- Manager-specific content -->
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:view_patient' %}'">View personal information</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:change_regulation' %}'">Change procedure or regulation</button>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboardguiv2:create_monthly_report' %}'">Create monthly report</button>
{% endblock %}